<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel de Carros</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="grid-item">
       <img src="<%= aluguel.nameUser %>" alt="carro" width="400px">
        <h3><%= aluguel.dataInicio %></h3>
        <p>Marca: <%= aluguel.dataFim %></p>
        <p>Cor: <%= aluguel.carro.cor %></p>
        <p>Valor: <%= aluguel.carro.valor %></p>
        <p>Preço da diária: <%= aluguel.precoDiaria %></p>
        <p>Status: <%= aluguel.status %></p>

    </div>
</body>
</html>
